<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recover your password</title>
  </head>
  <body style="padding: 0px; margin: 0px">
    <table
      style="margin: auto"
      border="0"
      width="600px"
      cellpadding="0"
      cellspacing="0"
    >
      <tbody>
        <tr>
          <td>
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tbody>
                <tr style="text-align: center">
                  <td style="padding: 40px; background-color: #000">
                    <img
                      style="width: 100%"
                      src="https://hbo-ventas.s3.us-east-2.amazonaws.com/utils/brands.webp"
                    />
                  </td>
                </tr>
              </tbody>
            </table>

            <table
              style="background-color: #000"
              width="100%"
              border="0"
              cellpadding="0"
              cellspacing="0"
            >
              <tbody>
                <tr style="text-align: center">
                  <td
                    align="center"
                    valign="center"
                    style="text-align: center; vertical-align: middle"
                  >
                    <img
                      style="width: 100%"
                      src="https://hbo-ventas.s3.us-east-2.amazonaws.com/utils/banner-recoverPass.webp"
                    />
                  </td>
                </tr>
              </tbody>
            </table>
            <table
              cellpadding="0"
              cellspacing="0"
              style="
                background-color: #000;
                color: #fff;
                font-family: sans-serif;
              "
            >
              <tr>
                <td>
                  <table
                    width="100%"
                    border="0"
                    cellpadding="0"
                    cellspacing="0"
                  >
                    <tbody>
                      <tr style="text-align: center">
                        <td
                          align="center"
                          valign="center"
                          style="
                            text-align: center;
                            vertical-align: middle;
                            font-size: 44px;
                            padding: 40px 0px 20px;
                            font-weight: 700;
                          "
                        >
                          Recover password
                        </td>
                      </tr>
                      <tr style="text-align: center">
                        <td
                          align="center"
                          valign="center"
                          style="
                            vertical-align: middle;
                            font-size: 20px;
                            padding: 20px 100px 20px 40px;
                            text-align: start;
                            font-weight: 100;
                            line-height: 1.3;
                          "
                        >
                          Your username to enter the platform is 
                          {{ email }}, to reset the password please 
                          enter the following link:
                        </td>
                      </tr>
                      <tr style="text-align: center">
                        <td
                          align="center"
                          valign="center"
                          style="
                            text-align: center;
                            vertical-align: middle;
                            font-size: 20px;
                            padding: 20px 0px 40px;
                          "
                        >
                          <a style="color: #e9c387" href="{{ link }}">
                            Restore password
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </table>

            {{!-- <table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tbody>
                <tr style="text-align: center">
                  <td align="center" valign="center" style="padding: 40px">
                    <img
                      style="width: 100%"
                      src="https://hbo-ventas.s3.us-east-2.amazonaws.com/utils/brands-black.webp"
                    />
                  </td>
                </tr>
              </tbody>
            </table> --}}

            <table
              cellpadding="0"
              cellspacing="0"
              style="color: #000; font-family: sans-serif"
            >
              <tr>
                <td>
                  <table
                    width="100%"
                    border="0"
                    cellpadding="0"
                    cellspacing="0"
                  >
                    <tbody>
                      <tr style="text-align: center">
                        <td
                          align="center"
                          valign="center"
                          style="
                            text-align: start;
                            vertical-align: middle;
                            font-size: 20px;
                            font-weight: 100;
                            padding: 10px 20px 25px;
                          "
                        >
                          Follow us on:
                        </td>
                      </tr>
                      <tr style="text-align: center">
                        <td
                          align="center"
                          valign="center"
                          style="
                            vertical-align: middle;
                            font-size: 20px;
                            text-align: start;
                            font-weight: 100;
                            line-height: 1.3;
                            padding: 0px 20px 25px;
                          "
                        >
                          Facebook / Instagram / Twitter / Youtube
                        </td>
                      </tr>
                      <tr style="text-align: center">
                        <td
                          align="center"
                          valign="center"
                          style="
                            text-align: start;
                            vertical-align: middle;
                            font-size: 20px;
                            font-weight: 100;
                            padding: 10px 20px 25px;
                          "
                        >
                          © 2021 WarnerMedia Direct Latin America, LLC. Everyone
                           all rights reserved. HBO Max used under license.
                        </td>
                      </tr>
                      <tr style="text-align: center">
                        <td
                          align="center"
                          valign="center"
                          style="
                            text-align: start;
                            vertical-align: middle;
                            font-size: 20px;
                            font-weight: 100;
                            padding: 10px 20px 50px;
                          "
                        >
                          Privacy - Terms of use - Press announcements -
                           Press Contacts - Manage Preferences
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
