<html>
<head><title>Registro de usuario</title></head>
<body>
  <br/>
  <p>
    <strong>WELCOME TO SELLHBO.COM!</strong> 
  </p> 
  <br/>
  <p>Your registration was successful. Here's a friendly reminder of your username and password.</p>
  <br/>
  <h3>Username: {{ email }}</h3>
  <h3>Password: {{ password }}</h3>
  <br/>

    Now you're ready to become an entertainment expert.
    Regards,
  <br/>
  <br/>
</body>
</html>
